body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fhhMRL{
  margin-left: 0px !important;
  gap: 16px;
  width: auto !important;
}

.ctoQcV{
  margin-left: 0px !important;
}

.bqMuqv{
  margin: 0px !important;
}

.gYuHGK{
  gap: 16px;
}


.appname{
  margin: 0px;
}

@media (max-width:628px) {
  .appname{
    display: none;
  }
}

@media (max-width:768px) {
  .bEPOWi{
    flex-direction: column !important;
  }
  
}